html {
    overflow-y: scroll;
  }
  body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
  }
  address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  caption,th {
    text-align: left;
  }
  q:before,q:after {
    content: '';
  }
  object,embed {
    vertical-align: top;
  }
  hr,legend {
    display: none;
  }
  h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
  }
  img,abbr,acronym,fieldset {
    border: 0;
  }
  li {
    list-style-type: none;
  }
  sup {
    vertical-align: super;
    font-size: 0.5em;
  }
  img {
    vertical-align: top;
  }
  i {
    font-style: normal;
  }
  /*----リセットcss*----/
  
  /*デザインcss↓*/
  .box_con05 {
    max-width: 900px;
    margin: 0  auto;
  }
  @media only screen and (max-width: 768px) {
    .box_con05 {
      width: 95%;
    }
  }
  .box_con05 form {
    width: 100%;
  }
  .box_con05 form ul {
    width: 100%;
  }
  .box_con05 form ul li {
    position: relative;
    margin: .5em 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media only screen and (min-width: 769px) {
    .box_con05 form ul li {
      display: -webkit-flex;
      display: flex;
    }
  }
  @media print {
    .box_con05 form ul li {
      display: -webkit-flex;
      display: flex;
    }
  }
  .ie8 .box_con05 form ul li {
    display: -webkit-flex;
    display: flex;
  }
  .box_con05 form ul li .title {
    position: relative;
    width: 30%;
    font-weight: normal;
    padding: 1em;
    position: relative;
  }
  @media only screen and (min-width: 769px) {
    .box_con05 form ul li .title {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
    }
  }
  @media print {
    .box_con05 form ul li .title {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
    }
  }
  .ie8 .box_con05 form ul li .title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  @media only screen and (max-width: 768px) {
    .box_con05 form ul li .title {
      text-align: center;
      width: 100%;
      display: block;
      padding: .8em .2em;
      background: #eee;
    }
  }
  .box_con05 form ul li .title em {
    position: relative;
    z-index: 1;
  }
  .box_con05 form ul li .box_det {
    width: 70%;
    position: relative;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 768px) {
    .box_con05 form ul li .box_det {
      display: block;
      width: 100%;
      padding: 1.5em .5em;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .box_con05 form ul li .box_det span {
      top: 1.75em;
      right: 1em;
    }
  }
  .box_con05 form ul li .box_br {
    display: block;
  }
  .box_con05 form ul li select, .box_con05 form ul li textarea, .box_con05 form ul li .wide {
    width: 100%;
    height: 3em;
    padding: .5em 5.5em .5em 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 768px) {
    .box_con05 form ul li select, .box_con05 form ul li textarea, .box_con05 form ul li .wide {
      padding: .5em 4.5em .5em 0.5em;
    }
  }
  .box_con05 form ul li textarea {
    height: 10em;
  }
  