.container_about{
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 900px;
  max-height: 300px;
  margin: 0 auto;
  display: flex;
}
.about_text{
  width: 100%;
}
.about-textarea {
  width: 690px;
  height: 300px;
  background-image:url(../img/about_textarea1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  resize: vertical; /* 垂直方向にのみリサイズ可能 */
  font-size: 16px;
  padding: 10px 0 0 10px;
  line-height:18px;
  font-weight:bold;
}
.about-image {
  width: 200px; /* 画像の最大幅を設定 */
  height: 300px; /* テキストエリアの高さと一致させる */
}